streamlit
spacy
nltk
scikit-learn
sentence-transformers
transformers
pymupdf  # Latest version to avoid frontend module error
python-docx
regex
huggingface-hub
torch
torchvision
torchaudio
asyncio  # Fix event loop issue


