streamlit
spacy>=3.5.0
nltk
scikit-learn
sentence-transformers
transformers
pymupdf
python-docx
regex
huggingface-hub
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
en-core-web-sm




